link(rel='shortcut icon' href='#{host}/img/favicon32.ico')
link(rel='stylesheet' type='text/css' href='#{host}/css/normalize.css')
link(rel='stylesheet' type='text/css' href='#{host}/css/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet' type='text/css' href='#{host}/css/datanium.css')
link(rel='stylesheet' type='text/css' href='#{host}/js/bootstrap/css/bootstrap.css')
script(type='text/javascript' src='#{host}/js/jquery/jquery-1.9.1.min.js')
script(type='text/javascript' src='#{host}/js/bootstrap/js/bootstrap.min.js')
script(type='text/javascript' src='#{host}/js/datanium.js')