include ../public/index.html
script(type='text/javascript').
      console.log('hashid:#{hashid}');
      Datanium.GlobalData.hashid = '#{hashid}';
      Datanium.GlobalData.qubeInfo = !{qubeInfo};
      Datanium.GlobalData.queryParam = !{queryParam};
      Datanium.GlobalData.rptMode = '#{rptMode}';
      Datanium.GlobalData.chartMode = '#{chartMode}';