include ../public/header.html
include ./head.jade
include ./head-app.jade
include ../public/index.html
include ../public/common.html
include ../public/foot.html
script(type='text/javascript').
	var loginUserEmail = '#{userEmail}';
	var loginUsername = '#{username}';
if hasHashKey
	script(type='text/javascript').
		console.log('hashid:#{hashid}');
		Datanium.GlobalData.hashid = '#{hashid}';
		Datanium.GlobalData.qubeInfo = !{qubeInfo};
		Datanium.GlobalData.queryParam = !{queryParam};
		Datanium.GlobalData.rptMode = '#{rptMode}';
		Datanium.GlobalData.chartMode = '#{chartMode}';
		